

<!--<p>-->
<!--  <strong>Id:</strong>-->
  <%#= @reservation.id %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Numerovol:</strong>-->
  <%#= @reservation.numeroVol %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Iduser:</strong>-->
  <%#= @reservation.idUser %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Heurereservation:</strong>-->
  <%#= @reservation.heureReservation %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Classe:</strong>-->
  <%#= @reservation.classe %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Nombreplaces:</strong>-->
  <%#= @reservation.nombrePlaces %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_reservation_path(@reservation) %> |-->
<%#= link_to 'Back', reservations_path %>
