// Place all the styles related to the Vols controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flight-card{
  display: flex;
  border-radius: 15px;
  box-shadow: 3px 6px 12px 3px rgba(0, 0, 0, 0.15);
  width: 50%;
  padding: 1em;
  margin: 1em;
  justify-content: space-between;
  align-items: center;
}

.time{
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
}

.airport{
  font-size: 1.4em;
  text-align: center;
}

.duration, .info{
  font-size: 1.3em;
  align-self: center;
  position: relative;
}

.duration{
  background-color: #FFF;
  padding: 0 0.6em;
  margin: 0 2em;

}

.duration:after{
  content:"";
  display: block;
  height: 1px;
  width: 130%;
  top: 50%;
  left: -15%;
  position: absolute;
  background-color: #000;
  z-index: -1;
}

.page-l.selected{
  text-decoration: none;
  cursor: default;
  color: #B00100;
}

.submit{
  color: #FFF!important;
  align-self: center;
  height: max-content;
}

.id{
  font-size: 1.2em;
}


