<div class="header">
  <h1 class="title">Planeline</h1>

  <nav class="navigation">
    <ul>
      <li class="nav-links">Réserver un vol</li>
      <li class="nav-links">Mes réservations</li>
      <li class="nav-links">Mon compte</li>
      <li class="nav-links">Déconnexion</li>
    </ul>
  </nav>
</div>