<div class="header">
  <h1 class="title">Planeline</h1>

  <nav class="navigation">
    <ul>
      <li class="nav-links"><a href="vols">Réserver un vol</a></li>
      <% if user_signed_in? %>
        <li class="nav-links"><a href="reservations">Mes réservations</a></li>
        <li class="nav-links"><a href="logout">Déconnexion</a></li>
      <% else %>
        <li class="nav-links"><a href="login">Se connecter</a></li>
      <% end %>
    </ul>
  </nav>
</div>